@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header{
    background-color: rgba(12, 110, 117, 0.795);
    z-index: 100;
    width: 100%;
    position: sticky
    top 0;
    margin-bottom: 1vh;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: rgba(161, 165, 160, 0.795);
    position: relative;

}

/*Para que al reducir la pantalla solo el contenido quede bien centrado y separado de los bordes*/
.margin-left{
    padding-left: 2%;
}

/* Y con esto complemento la propiedad de arriba para que las cards no queden pegadas al borde */
.margin-right{
    padding-right: 2%;
}

.centrar-carousel{
    place-items: center;
    margin-bottom: 2vh;
    margin-top: 0,5vh;
}

/*Para todas las imagenes de las 3 webs de animales*/
.imagenesIzquierda{
    float: left;
}

.imagenesIzquierda img{
    padding-bottom: 1vh;
}

/*Para abracar la informacion de los animales y colocarlo a la derecha*/
.contentAnimales{
    margin-top: 2vh;
    padding-left: 1vh;
    float: right;
    border: 5px solid rgba(12, 110, 117, 0.795);
}

/* Para que todas las cards tenga el borde con el color caracteristico de la reserva */
div .card{
    border: 5px solid rgba(12, 110, 117, 0.795);
}

.acordeon{
    margin-top: 2vh;
    float: right;
}

.acordeon button{
    background-color: rgba(12, 110, 117, 0.795);
}

h5{
    font-family: "Roboto", serif;
    text-align: center;
}

p, ol{
    font-family: "Barlow Condensed", serif;
    font-size: large;
}

footer{
    background-color: rgba(12, 110, 117, 0.795);
    z-index: 100;
    margin-bottom: 0%;
    margin-top: 2vh;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* Este media es porque las imagenes se me estiraban mucho en desktop */
@media (min-width: 800px){
    .imagenesIzquierda img{
        padding-top: 2vh;
        min-height: 280px;
        max-height: 350px;
    }
}