header{
    background-color: $primary-color;
    z-index: 100;
    width: 100%;
    position: sticky
    top 0;
    margin-bottom: 1vh;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: rgba(161, 165, 160, 0.795);
    position: relative;
    main{
        margin-left: 2%;
        margin-right: 2%;
    }
}

footer{
    background-color: $primary-color;
    z-index: 100;
    margin-bottom: 0%;
    margin-top: 2vh;
    height: 100%;
    width: 100%;
    text-align: center;
    p a{
        color: white;
        text-decoration: none;
    }
}

h5{
    font-family: "Roboto", serif;
    text-align: center;
}

p, ol{
    font-family: "Barlow Condensed", serif;
    font-size: large;
}

.centrar-carousel{
    place-items: center;
    margin-bottom: 2vh;
    margin-top: 0,5vh;
}

/* Para la animacion de la informacion de inicio */
.animate__animated.animate__bounceInLeft{animation-duration: 2s;}
.animate__animated.animate__bounceInUp{animation-duration: 2s;}
.animate__animated.animate__bounceInRight{animation-duration: 2s;}

