@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color:rgba(12, 110, 117, 0.795);

@import "partials/general";
@import "partials/animales";

/* Este media es porque las imagenes se me estiraban mucho en desktop*/
// Lo mas seguro es que cuando haya que hacer el responsive para tablet agregue otros medias en un partial aparte
@media (min-width: 800px){
    .imagenesIzquierda img{
        padding-top: 2vh;
        min-height: 280px;
        max-height: 350px;
    }
}