@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header nav{
    background-color: rgba(12, 110, 117, 0.795);
    z-index: 10;
    position: sticky;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: rgba(161, 165, 160, 0.795);
    position: relative;
}

.centrar-carousel{
    display: grid;
    place-items: center;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

img{
    max-height: 60vh;
}

/*Para todas las imagenes de las 3 webs de animales*/
.row img{
    padding-top: 2vh;
    padding-left: 2vh;
    float: left;
}

/**/
.contentAnimales{
    margin-right: 1vh;
    margin-top: 2vh;
    padding-left: 1vh;
    float: right;
    background-color: rgba(12, 110, 117, 0.795);
}

.acordeon{
    margin-top: 2vh;
    float: right;
    margin-right: 1vh;
}

h5{
    font-family: "Roboto", serif;
    text-align: center;
}

p{
    font-family: "Barlow Condensed", serif;
    font-size: large;
}


footer{
    display: grid;
    background-color: rgba(12, 110, 117, 0.795);
    z-index: 10;
    bottom: 0;
    margin-top: 2vh;
    height: 10vh;
    width: 100%;
    text-align: center;
}

@media (min-width: 800px){
    .row img{
        padding-top: 2vh;
        padding-left: 2vh;
        max-height: 350px;
        float: left;
    }
}